// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blue {
  background-color: blue;
  height: 80px;
  margin-bottom: 200px;
}

.red {
  background-color: red;
  height: 80px;
  margin-bottom: 200px;
}

.yellow {
  background-color: yellow;
  height: 80px;
  margin-bottom: 200px;
}

.green {
  background-color: green;
  height: 80px;
  margin-bottom: 200px;
}

.footer {
  font-size: 10px;
  height: 20px;
}

.footer_blue {
    background-color: blue;
}

.footer_red {
  background-color: red;
}

.sidenav {
float: left;
margin-top: 50px;
}

.content {
 margin-left: 150px;
 margin-top: 50px;
}
